$colorAccent: #FFB000;
$colorActive: #52616B;
$colorGreyLight: #DDDDDD;
$colorIconGrey: #c7c7c7;

$colorWhite: #ffffff;
$colorTextDark: #323232;
$colorBackground: #323232;

$colorComplete: rgba(55, 149, 46, 0.16);
$colorAll: rgba(55, 149, 46, 0.16);

