@import '../scss/colors.scss';

body {
}

span {
    transition: 0.2s all ease-in-out;
}

button {
    border: none;
    background-color: transparent;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s all ease;

    &:hover {
        cursor: pointer;
        span {
            color: $colorActive;
        }
    }
}