@import '../../assets/scss/colors.scss';

.btn-icon {
    width: 40px;
    height: 40px;

    span {
        color: $colorIconGrey;
    }
    &:hover {
        &.outlined {
            border-color: $colorActive;
        }
    }
    &.outlined {
        color: $colorIconGrey;
        border: 1px solid $colorGreyLight;
        border-radius: 10px;

    }
}