@import '../../assets/scss/colors.scss';

.button-fab {
    width: 55px;
    height: 55px;
    padding: 20px;
    background-color: $colorAccent;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    transition: 0.2s all ease-in-out;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.14));

    @media screen and (min-width: 600px) {
        bottom: 2rem;
        right: 2rem;
    }

    &.rotate {
        background-color: $colorBackground;

        span {
            transform: rotate(45deg);
            color: $colorWhite;
        }
    }
}