.button-fab {
    width: 55px;
    height: 55px;
    padding: 20px;
    background-color: #FFB000;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}