@import '../../assets/scss/colors.scss';

.dropdown-item {
    width: 100%;
    flex-shrink: 0;

    &:hover {
        button {
            background-color: $colorHover;
        }
    }
}

.dropdown-item button {
    display: unset;
    padding: 10px 8px;
    color: $colorWhite;
    height: 100%;
    width: 100%;
    text-align: left;
    border-radius: 6px;
}