@import '../../assets/scss/colors.scss';

.search-bar__wrapper {
    width: -webkit-fill-available;
    height: 40px;
    color: #52616B;
    border: 1px solid $colorGreyLight;
    border-radius: 9px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    @media screen and (min-width: 600px) {
        width: 315px;
    }

    &:focus-within {
        border-color: $colorActive;
        button span {
            color: $colorActive
        }
    }

    input {
        width: 100%;
        border: none;
        &:focus-visible {
            outline: none;
        }
        &::placeholder {
            color: #c7c7c7;
        }
    }
}