@import './assets//scss/colors.scss';

.top-bar {
    display: block;
    border-bottom: 1px solid $colorGreyLight;
    padding: 22px 10px;
    padding-top: 15px;
    position: fixed;
    top: 0;
    background: $colorWhite;
    width: 100%;
    z-index: 99;

    @media screen and (min-width: 600px) {
        padding: 20px 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    @media screen and (min-width: 992px) {
        padding: 20px 2rem;
    }
}

.top-bar .right-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.todo {
    margin: 10rem 14px;

    @media screen and (min-width: 600px) {
        margin: 7rem 2rem;
    }
}